@charset "UTF-8";
/* CSS Document */



/* Base */



/* Layout */

.row {
	display:flex;
	min-height:2.5em;
}

.meta {
	background: blue;
}


.logo {
	background: navy;
}

.nav {
	background:#ddd;
}

.nav > .lynx {
	border:2px solid #333;
	padding:.25em;
	flex-grow:1;
}


/* Module */
/* State */
/* Theme */
